<%= form_for(provider) do |f| %>
<% if provider.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>
    <ul>
      <% provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <style type="text/css">
      h1, .field, label, text_field
      {
          padding:0 15px;
      }
  </style>
<div class="field">
  <%= f.label :first_name, 'First name: ' %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name, 'Last name: ' %>
  <%= f.text_field :last_name %>
</div>

  <div class="field">
    <%= f.label :specialty, 'Specialty: ' %>
    <%= f.text_field :specialty %>
  </div>

<div class="field">
  <%= f.label :sex, 'Sex: ' %>
  <%= f.select :sex, %w[Male Female] %>
</div>

<div class="field">
  <%= f.label :languages, 'Languages spoken' %>
  <%= f.select :languages, %w[English Spanish] %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>