<p id="notice"><%= notice %></p>

<h1>Patients</h1>
<style type="text/css">
    td, th, h1
    {
        padding:0 15px;
    }
</style>
<table>
  <thead>
  <tr>
    <th> Full name </th>
    <th> Age </th>
    <th> Ethnicity </th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.full_name %></td>
      <td><%= patient.age %></td>
      <td><%= patient.ethnicity %></td>
      <td><%= link_to 'Show', patient %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
      <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path %>

